<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IpChanger.UserDefinedSaves" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <IpChanger.UserDefinedSaves>
            <setting name="konfig1ip" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig1subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig1gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig2ip" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig2subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig2gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig3ip" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig3subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig3gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig4ip" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig4subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig4gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig5ip" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig5subnet" serializeAs="String">
                <value />
            </setting>
            <setting name="konfig5gateway" serializeAs="String">
                <value />
            </setting>
        </IpChanger.UserDefinedSaves>
    </userSettings>
</configuration>